altgraph==0.17.3
contourpy==1.0.6
customtkinter==5.0.0
cycler==0.11.0
darkdetect==0.7.1
fonttools==4.38.0
future==0.18.2
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.23.5
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging==21.3
pefile==2022.5.30
Pillow==9.3.0
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
pyparsing==3.0.9
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
pyzbar==0.1.9
pyzxing==1.0.2
scipy==1.9.3
six==1.16.0
